<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django App</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'posts/search.css' %}">
</head>
<body>
    <h1 class="header">Posts</h1>
    <hr />
    <form action="{% url 'index' %}" method="get">
          <label for="title">Search Title: </label><br>
          <input type="text" id="title" name="title"><br>

          <label for="body">Search Body: </label><br>
          <input type="text" id="body" name="body"><br>

          <p>Order By</p>
          
          <input type="radio" id="date" name="order" value="creation-date">
          <label for="date">Creation Date</label><br>

          <input type="radio" id="view" name="order" value="view-count">
          <label for="view">View Count</label><br>
          
          <input type="radio" id="score" name="order" value="score">
          <label for="score">Score</label>
          <br><br>
          <input type="submit" value="Search">
        </form>
</body>
</html>