<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django App</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'posts/view.css' %}">
</head>
<body>
    <h1 class="header"> Posts </h1>
    <div class="question-block">
        <div class="title">{{question.title}}</div>
            <ul class="metadata">
                <li>Score: {{question.score}}</li>
                <li>View Count: {{question.viewCount}}</li>
                <li>Favorites: {{question.favoriteCount}}</li>
                <li>Answers: {{question.answerCount}}</li></li>
            </ul>
        <div class="ques-body">{{question.body}}</div>
    </div>
    <div class="answers">
        <br>
        {%if answers %}
        <h1>Answers</h1>
        {% if question.acceptedAnswerId %}
                <p class="disclaimer">Accepted Answer!</p>
        {% endif %}
            {% for answer in answers %}
            <div class="answer">{{answer.body}}</div>
            <hr />
            {% endfor %}
        {%else%}
        <h1>No Answer Available</h1>
      {%endif%}
    </div>
</body>
</html>
